*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
}
footer{
  margin-top: auto;
 
  display: flex;
  justify-content:center;
  align-items: center;

  background:aqua;
  
  height: 8rem;
  flex: 1;
}