*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container{
  display: flex;
  gap: 1rem;
}

aside{
  flex-basis: 25%;
  background:pink;
}
main{
  flex:1;
  background: #000;
  color: #fff;
}