*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 4rem;
  background-color: #000;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

ul li:last-child{
  padding: 0.8rem;
  background-color:rgb(25, 0, 255);
  color:azure;
  border-radius: 0.5rem ;
  -webkit-border-radius: 0.5rem ;
  -moz-border-radius: 0.5rem ;
  -ms-border-radius: 0.5rem ;
  -o-border-radius: 0.5rem ;
}

ul li:last-child:hover{
  opacity: 0.9;

}


a{
  text-decoration: none;
  cursor: pointer;
  color:azure;
}

a:hover{
  border-bottom: 2px solid #fff;
}

li:last-child > a {
  border-bottom: none;
}

li{
  font-family: 'Courier New', Courier, monospace;
}

.logo{
  width: 120px;
  height:120px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}
