*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #FFEDD5;
}

header{
  display: flex;
  flex-direction: column;

  margin-top: 2rem;

}

header > h1{
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
  
  color: #2D2C2A;

  margin-bottom: 0.25rem;
}

span{
 color: #995000;
}

header > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;

  color: rgba(0, 0, 0, 0.7);

  flex: none;
  order: 1;
  flex-grow: 0;
}

main{
  width: 300px;
}


h2{
  background-color: #FED7AA;
  padding: 0.5rem 1rem;

  margin-top: 2rem;
  margin-bottom: 0.5rem;

  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 21px;

  text-align: center;

  color: #2D2C2A;
}

ul{
  list-style: none;
}

li{
  display: flex;
  flex-direction: row;

  margin-top: 1rem;
}

.details{
  max-width: 240px;
  font-family: 'Roboto Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;

  color: #2D2C2A;
  flex: 1;

}

.description{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;

  color: rgba(0, 0, 0, 0.6);

  margin-top: 0.5rem;

  flex: 1;
}

.price{
  font-family: 'Roboto Serif', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;

  color: #2D2C2A;
  flex: 0;
}